In [1]:
import pandas as pd
import gmaps
import gmaps.datasets

In [2]:
gmaps.configure(api_key='AIzaSyD7IQ0-Nbi3GXncPBUW7i2e8ON4dqrZW3E')

In [3]:
locations = gmaps.datasets.load_dataset_as_df('boston_trees')
locations.head()

    latitude  longitude
0  42.354867 -71.057663
1  42.354878 -71.057701
2  42.354785 -71.057797
3  42.354740 -71.056293
4  42.354822 -71.056308

In [13]:
fig = gmaps.figure(map_type='SATELLITE')
heatmap_layer = gmaps.heatmap_layer(locations)
heatmap_layer.max_intensity = 100
heatmap_layer.point_radius = 2
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))